@import url('https://fonts.cdnfonts.com/css/bufally-script');
@import url('https://fonts.cdnfonts.com/css/freestyle-script');

*{
    margin: 0;
}
body{
    background: #fff;
    display: flex;
}
section.menu{
    width: calc( 14vw - 3px );
    height: 100vh;
    border-right: 3px solid #CCCCCC;
}
section.content{
    width: 59vw;
    height: 100vh;
}
section.personne{
    width: calc( 27vw - 3px );
    border-left: 3px solid #CCCCCC;
}


div.logo{
    width: 100%;
    height: 5vh;
    text-align: center;
    margin-top: 2vh;
}
span.logo{
    font-family: 'Bufally Script', sans-serif;
    font-size: 1.5vw;
    cursor: pointer;
}
div.select{
    width: 100%;
    height: 25vh;
    margin-top: 25vh;
}
div.select div.btn{
    width: auto;
    height: 6vh;
    margin-left: 1vw;
}
div.btn a.choix{
    text-decoration: none;
    color: #CCCCCC;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 1.3vw;
    transition: .4s;
}
a.choix i{
    margin-right: .5vw;
}
div.btn a.choix:hover{
    color: #707070;
}
div.leave{
    height: 6vh;
    margin-left: 1vw;
    color: #CCCCCC;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 1.3vw;
    transition: .4s;
    cursor: pointer;
    margin-top: 35vh;
}
div.leave:hover{
    color: #707070;
}




div.profil{
    width: 24vw;
    height: 40vh;
    background: #ccc;
    border-radius: 35px;
    margin-left: 1.5vw;
    margin-top: 3vh;
}
div.photo{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30vh;
}
div.photo div.img{
    max-width: 12vw;
    max-height: 20vh;
    width: auto;
    height: 20vh;
    aspect-ratio: 1/1;
    border: 2px solid #707070;
    overflow: hidden;
    border-radius: 50%;
}
div.nom{
    width: 100%;
    height: auto;
    text-align: center;
}
div.nom h3.prenom{
    font-size: 1vw;
    color: #000;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
div.chat{
    width: 24vw;
    height: 51vh;
    background: #ccc;
    border-radius: 35px;
    margin-left: 1.5vw;
    margin-top: 3vh;

}
div.nom-section{
    width: 100%;
    height: 5vh;
    top: 1vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}
div.nom-section h2.sect{
    font-size: 1.3vw;
    color: #000;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 

}
div.affiche{
    width: 100%;
    height: 35vh;
    overflow: auto;
    position: relative;
}
div.input{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.input input:nth-child(1){
    width: calc(90% - 2.5vh);
    height: 5vh;
    outline: none;
    border: none;
    border-radius: 25px;
    background: #fff;
    font-size: 1vw;
    color: #ccc;

}
div.input input:nth-child(3){
    width: 5vh;
    height: 5vh;
    margin-left: -5vh;
    opacity: 0;
    cursor: pointer;
}
div.input span{
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCCCCC;
    margin-left: -5vh;
    font-size: 2.5vh;
}

div.center{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    color: #ccc;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
input.grey{
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #ccc;
    color: #ccc;
    transition: .3s;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 

}
input.grey:focus{
    border-bottom: 2px solid #707070;
    color: #707070;
}
input.grey::placeholder{
    color: #ccc;
}
input.grey:focus::placeholder{
    color: #707070;
}
div.inputs{
    width: 50%;
    height: 25vh;
    text-align: center;
}
div.inputs input{
     width: 60%;
     height: 5vh;
     font-size: 3vh;
     margin-top: 1.5vh;
     margin-bottom: 1.5vh;
}
div.premieretage{
    width: 100%;
    height: 25vh;
    display: flex;
}
div.changephoto{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 25vh;
}
div.changephoto div.img{
    max-width: 12vw;
    max-height: 20vh;
    width: auto;
    height: 20vh;
    aspect-ratio: 1/1;
    border: 2px solid #707070;
    overflow: hidden;
    border-radius: 50%;
}

div.deuxiemeetage{
    width: 100%;
    height: auto;
}
div.deuxiemeetage div.telmail{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.deuxiemeetage div.telmail input{
    width: 30%;
    height: 5vh;
    font-size: 3vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 10%;
    margin-right: 10%;

}